body {
  font-family: 'Merriweather', serif;
  background-color: #eee;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

form {
  text-align: center;
}

.App h3 {
  text-align: center;
  text-transform: capitalize;
}

#newTodo {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}

#newTodo:focus {
  outline: rgba(7,219,180,0.8) auto 1px;
}

.react-datepicker__month-container .react-datepicker__header {
  background-color: rgba(7,219,180,0.1);
}

.datePicker {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}

.datePicker:focus {
  outline: rgba(7,219,180,0.8) auto 1px;
}

.btnTodoAdd {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1;
  background-color: rgba(0,255,150,0.4);
  color: #444;
  border: 1px solid rgba(0,255,150,0.4);
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
}

ul {
  border-radius: 10px;
  background-color: #ddd;
  padding: 1px;
}

li {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: ease all .225s;
}

li:hover {
  background-color: rgba(255,255,255,0.7);
}

li input {
  justify-content: flex-start;
}

li span {
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-left: 10px;
}

.customCheckbox {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.customCheckbox:active, .customCheckbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  outline: none;
}

.customCheckbox:focus {
  outline: none;
}

.customCheckbox:checked {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.customCheckbox:checked:after {
	content: '\2713';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

li .closeButton {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: ease all .225s;
}

li .closeButton:hover {
  background-color: rgba(255,0,0,0.1);
  border-color: rgba(155,0,0,0.2);
  color: rgba(155,0,0,0.5);
}

li .todoItemDate {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #aaa;
}

li .todoItemText {
  font-size: 16px;
  color: #444;
  align-self: center;
}

.undoItemSection {
  background-color: #514f50;
  color: #eee;
  margin: 0 auto;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 5px;
  transition: opacity ease .2s;
}

.undoItemSection button {
  background-color: rgba(0,0,0,0);
  color: #f1b233;
  border: 1px solid rgba(0,0,0,0);
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}

.orderButtons {
  display: flex;
  margin-left: auto;
}

.orderArrows {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.orderArrows button {
  background-color: rgba(0,0,0,0);
  color: #666;
  border: none;
}